/* introduzindo variaveis */
:root{
  --white: #FFFFFF;
  --gelo: #EEF2F6;
  --blue: #496C7B;
  --light_blue: #88A4B2;
  --dark_blue: #0B0F16;
  --gray: #57606D;
  --hover_link: #88A4B2;
}


#modal_login, #modal_cadastro {
    width: 60%;
    height: 70%;
    background-color: var(--blue);
    border-radius: 10px;
    padding: 40px;
    margin: 0 auto;
    align-self: center;
    background-image: linear-gradient(225deg, transparent 0%, #496c7bf1 40%), url(../img/img_modal/modal_bckg.jpg);
    background-size: cover;
    border: none;
    filter: brightness(0.75);
    padding-top: 5%;
  }

.cadastro_logo_img, .login_logo_img{
  height: 50px;
  display: inline;
}

.container_modal_cadastro > h4 {
  font-size: 16px;
  font-weight: 500;
  color: var(--light_blue);
  opacity: 1;
}

.container_modal_cadastro > h1 {
  font-size: 48px;
  font-weight: 500;
  color: var(--white);
  opacity: 1;
}

.entre:visited, :active {
  color: var(--white);
}

.entre:hover {
  color: var(--hover_link);
}

.input {
  width: 45%;
  background-color: var(--blue);
  margin-top: 2%;
  border-radius: 20px;
  border: none;
}

.cadastro {
  width: 25%;
  background-color: var(--blue);
  margin-top: 2%;
  border-radius: 20px;
  border: none
}

.input:hover, .cadastro:hover {
  background-color: var(--hover_link);
}

