@font-face {
    font-family: 'higuen';
    src: url('higuen.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: var(--gelo);
  font-family: "Montserrat", system-ui;
}

.container {
  max-width: 100%;
}

/* introduzindo variaveis */
:root {
  --white: #ffffff;
  --gelo: #eef2f6;
  --blue: #496c7b;
  --light_blue: #88a4b2;
  --dark_blue: #0b0f16;
  --gray: #57606d;
  --hover_link: #88a4b2;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  padding-right: 20px;
  height: 60px;
  position: fixed;
  z-index: 1001;
  background-color: var(--gelo);
  width: 100%;
}

.logo {
  color: var(--blue);
  font-size: 35px;
  font-family: 'higuen';
  letter-spacing: 5px;
  font-weight: 400;
  padding-bottom: 6px;
}

.container_imagem_logo {
  display: flex;
  align-items: center;
}

.imagem_logo {
  height: 50px;
  margin-left: 20px;
}

.lista_nav {
  display: flex;
  gap: 36px;
  margin-top: 12px;
}

.lista_nav>li {
  list-style-type: none;
}

.links_nav {
  color: var(--blue);
  text-decoration: none;
  font-weight: 600;
  
}


.links_nav:hover {
  color: var(--hover_link);
}

.links_nav:link {
  color: var(--blue);
}

.carousel{
  width: 100vw;
  height: 100vh;
  margin-top: -50px;
  overflow: hidden;
  position: relative;
}
.carousel .list .item{
  width: 180px;
  height: 250px;
  position: absolute;
  top: 80%;
  transform: translateY(-70%);
  left: 70%;
  border-radius: 20px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
  background-position: 50% 50%;
  background-size: cover;
  z-index: 100;
  transition: 1s;
}



.carousel .list .item:nth-child(1),
.carousel .list .item:nth-child(2){
  top: 0;
  left: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
}
.carousel .list .item:nth-child(3){
  left: 67%;

}
.carousel .list .item:nth-child(4){
  left: calc(67% + 200px);
}
.carousel .list .item:nth-child(5){
  left: calc(67% + 400px);
}
.carousel .list .item:nth-child(6){
  left: calc(67% + 600px);
}
.carousel .list .item:nth-child(n+7){
  left: calc(67% + 800px);
  opacity: 0;
}
.list .item .content{
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  width: 400px;
  text-align: left;
  color: #fff;
  display: none;
}
.list .item:nth-child(2) .content{
  display: block;
}
.content .title{
  font-size: 30px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  line-height: 1;
  opacity: 0;
  animation: animate 1s ease-in-out 0.3s 1 forwards;
}
.content .name{
  font-size: 100px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
  text-shadow: 3px 4px 4px rgba(255, 255, 255, 0.8);
  opacity: 0;
  animation: animate 1s ease-in-out 0.6s 1 forwards;
}
.content .des{
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  margin-left: 5px;
  opacity: 0;
  animation: animate 1s ease-in-out 0.9s 1 forwards;
}
.content .btn{
  margin-left: 5px;
  opacity: 0;
  animation: animate 1s ease-in-out 1.2s 1 forwards;
}
.content .btn button{
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border: 2px solid #fff;
}
.content .btn button:nth-child(1){
  margin-right: 15px;
}
.content .btn button:nth-child(2){
  background: transparent;
  color: var(--blue);
  border: 2px solid #fff;
  transition: 0.3s;
}
.content .btn button:nth-child(2):hover{
  background-color: var(--blue);
  color: #fff;
  border-color: var(--blue);
}
@keyframes animate {
  
  from{
      opacity: 0;
      transform: translate(0, 100px);
      filter: blur(33px);
  }
  to{
      opacity: 1;
      transform: translate(0);
      filter: blur(0);
  }
}
/* Carousel */
/* next prev arrows */
.arrows{
  position: absolute;
  top: 80%;
  right: 52%;
  z-index: 100;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.arrows button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--blue);
  color: #fff;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: monospace;
  font-weight: bold;
  transition: .5s;
  cursor: pointer;
}
.arrows button:hover{
  background: #fff;
  color: #000;
}
/* time running */
.carousel .timeRunning{
  position: absolute;
  z-index: 1000;
  width: 0%;
  height: 4px;
  background-color: var(--blue);
  left: 0;
  top: 0;
  animation: runningTime 7s linear 1 forwards;
}
@keyframes runningTime {
  
  from{width: 0%;}
  to{width: 100%;}
}
/* Responsive Design */
@media screen and (max-width: 999px){
  
  header{
      padding-left: 50px;
  }
  .list .item .content{
      left: 50px;
  }
  .content .title, .content .name{
      font-size: 70px;
  }
  .content .des{
      font-size: 16px;
  }
}
@media screen and (max-width: 690px){
  header nav a{
      font-size: 14px;
      margin-right: 0;
  }
  .list .item .content{
      top: 40%;
  }
  .content .title, .content .name{
      font-size: 45px;
  }
  .content .btn button{
      padding: 10px 15px;
      font-size: 14px;
  }
}


/* DESTINOS */

/* Grid destinos */
/* .grid_destinos{
    display: grid;
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 6%;
    column-gap: 2%;
    position: absolute;
    top: 85%;
    left: 9.8%;
} */

/* config do card */
/* .card_destino{
    width: 100%;
    height: 650px;
    color: var(--blue);
    position: relative;
    box-shadow: 1px 2px 3px #0b0f16b0;
} */

/* imagem do card */
/* .card_destino img{
    margin-bottom: 30px;
} */

/* div do pin + localizacao */
/* .card_destino_localizacao{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 40px;
    padding-left: 5%;
} */

/* titulo */
/* .destino_nome{
    padding-left: 5%;
} */

/* texto maior */
/* .destino_descricao{
    padding: 0 5%;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
} */

/* botao */
/* .card_destino_button{
    background-color: var(--blue);
    position: absolute;
    top: 92%;
    left: 5%;
    border-radius: 50px;
    font-size: 16px;
    color: var(--white);
    font-weight: 500;
    border: none;
    padding: 1px 6px 1px 6px;
}

.card_destino_localizacao_texto {
    font-size: 16px;
    font-weight: 400;
    padding-left: 4px;
} */



/* HOTEIS */

/* div Grid Hoteis geral - com texto dentro*/
/* .cards_hoteis_parceiros{ */
    /* border: 2px solid var(--blue); */
    /* width: 80%;
    margin: 85% auto 0 auto;
    padding-top: 3%;    
}
.cards_hoteis_parceiros h1{
    margin-bottom:3%;
    text-align: center;
    font-weight: 500;
    color: var(--blue);
} */
/* css do grid de cards hotel */
/* .grid_hoteis{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 6%;
    column-gap: 2%;
} */

/* css do card individual */
/* .grid_card_hotel{
    width: 100%;
    height: 420px;
    color: var(--blue);
    box-shadow: 1px 2px 3px #0b0f16b0;
} */

/* imagem dos hoteis */
/* .grid_card_hotel img{
   margin-bottom: 30px;
} */

/* titulo */
/* .hotel_nome{
    padding-left: 5%;
    font-size: 18px;
    font-weight: 700;
} */

/* div do pin + texto localizaçao */
/* .card_hotel_localizacao{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
    padding-left: 5%;
}

.card_hotel_localizacao_texto {
    font-size: 16px;
    font-weight: 400;
} */

/* preço hotel*/
/* .hotel_descricao{
    padding: 0 5%;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
} */


/* newsletter */

.newsletter_container {
  width: 60%;
  height: 250px;
  background-color: var(--blue);
  margin: 10% auto 100px auto;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding: 30px 30px 30px 30px;
  column-gap: 20px;
  box-shadow: 3px 3px 25px #0b0f16b0;
}

/* posiçao dos itens no grid */
.news_imagem1 {
  grid-area: 1 / 1 / span 4 / span 1;
}
.news_imagem2 {
  grid-area: 1 / 2 / span 4 / span 1;
}
.news_imagem3 {
  grid-area: 1 / 3 / span 4 / span 1;
}
.news_titulo {
  grid-area: 1 / 4 / span 1 / span 3;
  /* border: 2px solid red; */
  text-align: center;
  font-size: 24px;
  color: var(--white);
}
.news_paragrafo {
  grid-area: 2 / 4 / span 1 / span 3;
  /* border: 2px solid red; */
  text-align: center;
  align-content: center;
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
}
.news_privacidade {
  grid-area: 4 / 4 / span 1 / span 3;
  /* border: 2px solid red; */
  text-align: center;
  align-content: end;
  color: var(--white);
  font-weight: 500;
  font-size: 14px;
}

.link_aqui {
  color: var(--white);
}

.link_aqui:hover {
  color: var(--hover_link);
}

/* config das imagens */
.imagem_newsletter {
  height: 100%;
  width: 90%;
  border-radius: 10px;
  object-fit: cover;
}

/* box email e posicao no grid*/
.news_email {
  display: flex;
  grid-area: 3 / 4 / span 1 / span 3;
  width: 100%;
  height: 60px;
  margin: 0 auto 0 auto;
  /* border: 2px solid red; */
  border-radius: 40px;
  justify-content: center;
  background-color: #88a4b263;
}

/* items dentro do box de email */
.envelope {
  align-self: center;
  font-size: 30px;
  margin-right: 10px;
}
.email_campo {
  border-radius: 15px;
  width: 60%;
  background-color: transparent;
  border: none;
  margin-right: 10px;
}

/* configura o placeholder do email */
.email_campo::placeholder {
  color: var(--white);
  font-size: 12px;
  padding: 15px;
}

.email_botao {
  background-color: var(--white);
  border: none;
  border-radius: 45px;
  color: var(--blue);
  height: 40px;
  margin: 10px;
  padding-left: 5px;
  font-size: 14px;
  width: 105px;
}

/* Footer */

/* container footer */
.footer {
  background-color: var(--white);
  width: 100%;
  margin: 0px auto 30px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  /* border: 2px red solid; */
  color: var(--blue);
  padding-bottom: 20px;
  border-bottom: 2px solid var(--blue);
}

/* div do logo com a imagem */
.footer_logo_div {
  display: flex;
  grid-area: 1 / 1 / span2 / span1;
  margin-left: 1%;
  /* border: 2px red solid; */
}

/* imagem logo dentro da div */
.logo_titulo_img {
  height: 55px;
  margin-left: 23.5%;
  margin-top: 15px;
}

/* p dentro da div do logo com texto */
.logo_titulo_texto {
  font-size: 35px;
  padding-top: 20px;
}

/* div paragrafo */
.logo_texto {
  grid-area: 3 / 1 / span2 / span1;
  /* border: 2px red solid; */
  width: 25%;
  text-align: center;
  font-size: 20px;
  margin-left: 20%;
}

/* div Contato */
.logo_contato_texto {
  grid-area: 1 / 2 / span1 / span1;
  /* border: 2px red solid; */
  margin-left: 37%;
  font-size: 12px;
  margin-top: 20px;
}

/* div localizaçao */
.campos_contato1 {
  grid-area: 2 / 2 / span1 / span1;
  /* border: 2px red solid; */
  margin-left: 15%;
  display: flex;
  gap: 20px;
  font-size: 16px;
  margin-top: 35px;
}

/* div telefone */
.campos_contato2 {
  grid-area: 3 / 2 / span1 / span1;
  /* border: 2px red solid; */
  margin-left: 15%;
  display: flex;
  gap: 15px;
  font-size: 16px;
  margin-top: 28px;
}

/* div email */
.campos_contato3 {
  grid-area: 4 / 2 / span1 / span1;
  /* border: 2px red solid; */
  margin-left: 15%;
  display: flex;
  gap: 15px;
  font-size: 16px;
  margin-top: 20px;
}

/* icones font-awesome */
.contato_font_awesome {
  font-size: 25px;
}

/* COPYRIGHT */
.copyright {
  text-align: center;
  color: var(--blue);
}

/* Estilo da barra de rolagem */
::-webkit-scrollbar {
    width: 12px; /* Largura da barra */
}

/* Estilo do "polegar" (parte que se arrasta) */
::-webkit-scrollbar-thumb {
    background-color: var(--light_blue); /* Cor do polegar */
    border-radius: 10px; /* Bordas arredondadas */
}

/* Estilo da trilha (parte que fica atrás do polegar) */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor da trilha */
    border-radius: 10px; /* Bordas arredondadas */
}

/* Efeito ao passar o mouse sobre o polegar */
::-webkit-scrollbar-thumb:hover {
    background: var(--blue); /* Cor do polegar ao passar o mouse */
}
