.container{
    max-width: 100%;
}

/* introduzindo variaveis */
:root{
    --white: #FFFFFF;
    --gelo: #EEF2F6;
    --blue: #496C7B;
    --dark_blue: #0B0F16;
    --gray: #57606D;
    --hover_link: #88A4B2;
}

/* header */
.header{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    height: 50px;
}
.container_imagem_logo{
    display: flex;
}
.imagem_logo{
    height: 40px;
    margin-left: 20px;
}
.lista_nav{
    display: flex;
    gap: 36px;
    margin-top: 12px;
}
.lista_nav>li{
    list-style-type: none;
}
.links_nav{
    color: var(--blue);
    text-decoration: none;
}
.links_nav:hover{
    color: var(--hover_link);
}

/* imagem principal */

.imagem_principal{
    height: 800px;
    width: 100%;
    filter: brightness(.5);
}

/* container com a imagem */
.container_imagem_principal{
    position: relative;
}

/* textos sobre a imagem */
.textos_principal{
    width: 30%;
    margin-left: 10%;
    position: absolute;
    top:30%;
    color: var(--gelo);
}
.textos_principal > h3{
    font-size: 16px;
    line-height: 24px;    
}
.textos_principal > h1{
    font-size: 48px;
    line-height: 1;
}
.textos_principal > h4{
    font-size: 16px;
    line-height: 24px; 
}
.textos_principal > button{
    color:var(--blue);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    padding: 6px; 
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 2px;
}

/* container azul "porque monaco" */
.porque_monaco_container {
    width: 80%;
    background-color: var(--blue);
    position: absolute;
    top: 100%;
    left: 11%;
}

.porque_monaco_container > h1{
    display: block;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.porque_monaco_textos{
    display: flex;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}
.monaco_textos{
    width: 33.3%;
    text-align: center;
}