/* introduzindo variaveis */
:root {
  --white: #ffffff;
  --gelo: #eef2f6;
  --blue: #496c7b;
  --light_blue: #88a4b2;
  --dark_blue: #0b0f16;
  --gray: #57606d;
  --hover_link: #88a4b2;
  --soft_blue: #64818f;
}

#modal_login,
#modal_cadastro {
  width: 60%;
  height: 80%;
  background-color: var(--blue);
  border-radius: 10px;
  padding: 40px;
  margin: 0 auto;
  align-self: center;
  background: rgb(73, 108, 123);
  background: linear-gradient(
      190deg,
      rgba(73, 108, 123, 0) 0%,
      rgba(73, 108, 123, 0.5) 0%,
      rgba(73, 108, 123, 0.94) 40%,
      rgba(73, 108, 123, 0.98) 60%,
      rgba(73, 108, 123, 1) 100%
    ),
    url(../img/img_modal/modal_bckg.jpg);
  background-size: cover;
  border: none;
  filter: brightness(0.75);
  color: var(--white);
}

.cadastro_logo_img,
.login_logo_img {
  height: 50px;
  display: flex;
  justify-content: start;
  align-items: start;
  margin: 0;
}

.container_modal_cadastro > h4 {
  font-size: 16px;
  font-weight: 500;
  color: var(--light_blue);
  opacity: 1;
  margin-top: 25px;
}

.container_modal_login > h4 {
  font-size: 16px;
  font-weight: 500;
  color: var(--light_blue);
  opacity: 1;
  margin-top: 25px;
}

.container_modal_cadastro > h1 {
  font-size: 48px;
  font-weight: 500;
  color: var(--white);
  opacity: 1;
}

.container_modal_login > h1 {
  font-size: 48px;
  font-weight: 500;
  color: var(--white);
  opacity: 1;
}

.entre:visited,
:active {
  color: var(--white);
}

.entre:hover {
  color: var(--hover_link);
}

.input {
  width: 40%;
  height: 40px;
  background-color: var(--soft_blue);
  margin-top: 2%;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.2);
  color: white;
  padding: 5px 10px;
  outline: none;
}

::placeholder {
  padding: 10px;
  color: var(--white);
}

.cadastro,
.login {
  width: 25%;
  height: 40px;
  background-color: var(--soft_blue);
  margin-top: 2%;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.2);
  color: var(--white);
}

.input:hover,
.cadastro:hover,
.login:hover {
  background-color: var(--hover_link);
}

.xizzinho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.btn_fechar_modal {
  background-color: transparent;
  border: none;
  border-radius: 100px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"],
input[type="password"],
select {
  width: 40%;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: var(--soft_blue);
  font-size: 1rem;
  color: var(--white);
  outline: transparent;
}

