@font-face {
    font-family: 'higuen';
    src: url('higuen.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: var(--gelo);
  font-family: "Montserrat", system-ui;
  justify-content: center;
  align-items: center;
  display: flex;
}

.container {
  max-width: 100%;
}

/* introduzindo variaveis */
:root {
  --white: #ffffff;
  --gelo: #eef2f6;
  --blue: #496c7b;
  --light_blue: #88a4b2;
  --dark_blue: #0b0f16;
  --gray: #57606d;
  --hover_link: #88a4b2;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  padding-right: 20px;
  height: 60px;
  position: fixed;
  z-index: 1001;
  background-color: var(--gelo);
  width: 100%;
}

.logo {
  color: var(--blue);
  font-size: 35px;
  font-family: 'higuen';
  letter-spacing: 5px;
  font-weight: 400;
  padding-bottom: 6px;
}

.container_imagem_logo {
  display: flex;
  align-items: center;
}

.imagem_logo {
  height: 50px;
  margin-left: 20px;
}

.lista_nav {
  display: flex;
  gap: 36px;
  margin-top: 12px;
}

.lista_nav>li {
  list-style-type: none;
}

.links_nav {
  color: var(--blue);
  text-decoration: none;
  font-weight: 600;
  
}


.links_nav:hover {
  color: var(--hover_link);
}

.links_nav:link {
  color: var(--blue);
}


.carousel-container {
  position: relative;
  width: 100%;
  height: 97vh; /* Ocupa 100% da altura da viewport */
  overflow: hidden;
}

.carousel-slides {
  display: flex;
  height: 100%;
  transition: transform 1.0s ease;
}

.carousel-slide {
  min-width: 100%;
  height: 100%;
  transition: opacity 0.6s ease;
  filter: brightness(0.6);
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta a imagem para cobrir toda a área */
}


 

.carousel-nav button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 24px;
}


/* Indicadores */
.carousel-indicators {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.carousel-indicators button {
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.carousel-indicators .active {
  background-color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  max-width: 800px;
  width: 100%;
}

/* 
.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  margin-top: 40px; 
} */

.container {
  width: 50%;
  text-align: center;
  display: flex;
  margin-left: 370px;
  flex-direction: column;
}


.card-container {
  display: grid;
  gap: 20px;
  padding: 20px;
  grid-template-columns: repeat(2, 1fr);
  width: 150%;
}

.card {
  display: flex;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  width: 100%;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 50%;
  object-fit: cover;
}

.card-content {
  padding: 20px;
  position: relative;
  width: 50%;
  text-align: left;
}

.card-content h3 {
  font-size: 1.3em;
  margin-bottom: 10px;
  color: var(--blue);
}

.card-content .reviews {
  font-size: 0.9em;
  color: var(--blue);
  margin-bottom: 10px;
}

.card-content .reviews .stars {
  color: #ffbf00;
  margin-right: 5px;
}

.card-content p {
  font-size: 0.9em;
  color: var(--blue);
  margin-bottom: 15px;
}

.card-content button {
  padding: 10px 15px;
  font-size: 1em;
  color: var(--blue);
  border: 2px solid var(--blue);
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.card-content button:hover {
  background-color: var(--blue);
  color: #fff;
}

.price-tag {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: var(--blue);
  color: #fff;
  padding: 10px 15px;
  font-weight: bold;
  border-radius: 4px;
}
/* DESTINOS */

/* Grid destinos */
/* .grid_destinos{
    display: grid;
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 6%;
    column-gap: 2%;
    position: absolute;
    top: 85%;
    left: 9.8%;
} */

/* config do card */
/* .card_destino{
    width: 100%;
    height: 650px;
    color: var(--blue);
    position: relative;
    box-shadow: 1px 2px 3px #0b0f16b0;
} */

/* imagem do card */
/* .card_destino img{
    margin-bottom: 30px;
} */

/* div do pin + localizacao */
/* .card_destino_localizacao{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 40px;
    padding-left: 5%;
} */

/* titulo */
/* .destino_nome{
    padding-left: 5%;
} */

/* texto maior */
/* .destino_descricao{
    padding: 0 5%;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
} */

/* botao */
/* .card_destino_button{
    background-color: var(--blue);
    position: absolute;
    top: 92%;
    left: 5%;
    border-radius: 50px;
    font-size: 16px;
    color: var(--white);
    font-weight: 500;
    border: none;
    padding: 1px 6px 1px 6px;
}

.card_destino_localizacao_texto {
    font-size: 16px;
    font-weight: 400;
    padding-left: 4px;
} */



/* HOTEIS */

/* div Grid Hoteis geral - com texto dentro*/
/* .cards_hoteis_parceiros{ */
    /* border: 2px solid var(--blue); */
    /* width: 80%;
    margin: 85% auto 0 auto;
    padding-top: 3%;    
}
.cards_hoteis_parceiros h1{
    margin-bottom:3%;
    text-align: center;
    font-weight: 500;
    color: var(--blue);
} */
/* css do grid de cards hotel */
/* .grid_hoteis{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 6%;
    column-gap: 2%;
} */

/* css do card individual */
/* .grid_card_hotel{
    width: 100%;
    height: 420px;
    color: var(--blue);
    box-shadow: 1px 2px 3px #0b0f16b0;
} */

/* imagem dos hoteis */
/* .grid_card_hotel img{
   margin-bottom: 30px;
} */

/* titulo */
/* .hotel_nome{
    padding-left: 5%;
    font-size: 18px;
    font-weight: 700;
} */

/* div do pin + texto localizaçao */
/* .card_hotel_localizacao{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
    padding-left: 5%;
}

.card_hotel_localizacao_texto {
    font-size: 16px;
    font-weight: 400;
} */

/* preço hotel*/
/* .hotel_descricao{
    padding: 0 5%;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
} */


/* newsletter */

.newsletter_container {
  width: 60%;
  height: 250px;
  background-color: var(--blue);
  margin: 10% auto 100px auto;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding: 30px 30px 30px 30px;
  column-gap: 0px;
  box-shadow: 3px 3px 25px #0b0f16b0;
}

/* posiçao dos itens no grid */
.news_imagem1 {
  grid-area: 1 / 1 / span 4 / span 1;
}

.news_imagem2 {
  grid-area: 1 / 2 / span 4 / span 1;
}

.news_imagem3 {
  grid-area: 1 / 3 / span 4 / span 1;
}

.news_titulo {
  grid-area: 1 / 4 / span 1 / span 3;
  /* border: 2px solid red; */
  text-align: center;
  font-size: 24px;
  color: var(--white);
}

.news_paragrafo {
  grid-area: 2 / 4 / span 1 / span 3;
  /* border: 2px solid red; */
  text-align: center;
  align-content: center;
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
}

.news_privacidade {
  grid-area: 4 / 4 / span 1 / span 3;
  /* border: 2px solid red; */
  text-align: center;
  align-content: end;
  color: var(--white);
  font-weight: 500;
  font-size: 14px;
}

.link_aqui {
  color: var(--white);
}

.link_aqui:hover {
  color: var(--hover_link);
}

/* config das imagens */
.imagem_newsletter {
  height: 100%;
  width: 90%;
  border-radius: 10px;
  object-fit: cover;
}

/* box email e posicao no grid*/
.news_email {
  display: flex;
  grid-area: 3 / 4 / span 1 / span 3;
  width: 100%;
  height: 60px;
  margin: 0 auto 0 auto;
  /* border: 2px solid red; */
  border-radius: 40px;
  justify-content: center;
  background-color: #88a4b263;
}

/* items dentro do box de email */
.envelope {
  align-self: center;
  font-size: 30px;
  margin-right: 10px;
}

.email_campo {
  border-radius: 15px;
  width: 60%;
  background-color: transparent;
  border: none;
  margin-right: 10px;
}

/* configura o placeholder do email */
.email_campo::placeholder {
  color: var(--white);
  font-size: 12px;
  padding: 15px;
}

.email_botao {
  background-color: var(--white);
  border: none;
  border-radius: 45px;
  color: var(--blue);
  height: 40px;
  margin: 10px;
  padding-left: 5px;
  font-size: 14px;
  width: 105px;
}

/* Footer */

/* container footer */
.footer {
  background-color: var(--white);
  width: 100%;
  margin: 0px auto 30px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  /* border: 2px red solid; */
  color: var(--blue);
  padding-bottom: 20px;
  
}

/* div do logo com a imagem */
.footer_logo_div {
  display: flex;
  grid-area: 1 / 1 / span2 / span1;
  margin-left: 1%;
  /* border: 2px red solid; */
}

/* imagem logo dentro da div */
.logo_titulo_img {
  height: 55px;
  margin-left: 26%;
  margin-top: 15px;
}

/* p dentro da div do logo com texto */
.logo_titulo_texto {
  font-size: 35px;
  padding-top: 20px;
  font-family: 'higuen';
  letter-spacing: 2px;
  font-weight: 400;
  

}

/* div paragrafo */
.logo_texto {
  grid-area: 3 / 1 / span2 / span1;
  /* border: 2px red solid; */
  width: 25%;
  text-align: center;
  font-size: 20px;
  margin-left: 20%;
  padding-top: px;
}

/* div Contato */
.logo_contato_texto {
  grid-area: 1 / 2 / span1 / span1;
  /* border: 2px red solid; */
  margin-left: 37%;
  font-size: 12px;
  margin-top: 20px;
}

/* div localizaçao */
.campos_contato1 {
  grid-area: 2 / 2 / span1 / span1;
  /* border: 2px red solid; */
  margin-left: 15%;
  display: flex;
  gap: 20px;
  font-size: 16px;
  margin-top: 35px;
}

/* div telefone */
.campos_contato2 {
  grid-area: 3 / 2 / span1 / span1;
  /* border: 2px red solid; */
  margin-left: 15%;
  display: flex;
  gap: 15px;
  font-size: 16px;
  margin-top: 28px;
}

/* div email */
.campos_contato3 {
  grid-area: 4 / 2 / span1 / span1;
  /* border: 2px red solid; */
  margin-left: 15%;
  display: flex;
  gap: 15px;
  font-size: 16px;
  margin-top: 20px;
}

/* icones font-awesome */
.contato_font_awesome {
  font-size: 25px;
}

/* COPYRIGHT */
.copyright {
  text-align: center;
  color: var(--blue);
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 15px;
}

/* Estilo da barra de rolagem */
::-webkit-scrollbar {
    width: 12px; /* Largura da barra */
}

/* Estilo do "polegar" (parte que se arrasta) */
::-webkit-scrollbar-thumb {
    background-color: var(--blue); /* Cor do polegar */
    border-radius: 10px; /* Bordas arredondadas */
}

/* Estilo da trilha (parte que fica atrás do polegar) */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor da trilha */
    border-radius: 10px; /* Bordas arredondadas */
}

/* Efeito ao passar o mouse sobre o polegar */
::-webkit-scrollbar-thumb:hover {
    background: var(--hover_link); /* Cor do polegar ao passar o mouse */
}